#!/usr/bin/env bash

# NAVIGATION
alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

# COMMON DIRECTORIES
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dc="cd ~/Documents"
alias p="cd ~/Documents/projects"
alias sites="cd ~/Sites"
alias home="cd ~"
alias gogo="cd ~/Sites/goWorkspace"
alias security="cd ~/Sites/Security"

# GIT
alias g="git"
alias gs="git status"
alias gd="git diff"
alias gb="git branch"
alias gf="git fetch"
alias gc="git checkout"
alias ga="git add"
alias gaa="git add --all"
alias gcom="git commit -m"
alias gp="git push"
alias gm="git checkout master"
alias gpull="git pull"
alias gpu="git push -u origin"
alias gst="git stash"
alias gpop="git stash pop"
alias gcy="get_git_commits_yesterday"
alias gcyear="get_git_commits_year"
alias gpr="get_my_git_prs"

#NEOVIM
alias n='nvim'

# TMUX

# Attaches tmux to the last session; creates a new session if none exists.
alias t='tmux attach || tmux new-session'

# Attaches tmux to a session (example: ta portal)
alias ta='tmux attach -t'

# Creates a new session
alias tn='tmux new-session'

# Lists all ongoing sessions
alias tl='tmux list-sessions'

# BASH
alias aliases="vi ~/.aliases && . ~/.aliases"
alias bashprofile="vi ~/.bash_profile && . ~/.bash_profile"
alias bashprompt="vi ~/.bash_prompt && . ~/.bash_prompt"
alias bashfuncs="vi ~/.bash_funcs && . ~/.bash_funcs"
alias show_options="shopt"

# UTILITY
alias weather="get_weather"
alias stayawake="caffeinate -dt 3600 &"
alias h2g="history | grep"
alias cl="clear && clear"
alias ss="pmset sleepnow"
alias googleWin="chrome_open_window"
alias googleTab="chrome_open_tab"
alias firefoxWin="firefox_open_window"
alias firefoxTab="firefox_open_tab"
alias openJira="open_jira"

#NPM
alias nr="npm run"
alias nrb="npm run build"

# Command improvments
alias cp="cp -iv"
alias mv="mv -iv"
alias ll="ls -FGlAhp"

# Mac Specific Commands
alias finderShowHidden='defaults write com.apple.finder ShowAllFiles TRUE'
alias finderHideHidden='defaults write com.apple.finder ShowAllFiles FALSE'
